<div class="container" *ngIf="userLoggedIn[0].role=='user'">
  <div class="row">
    <ng-container *ngFor="let product of productList">
      <div class="card col-md-3">
        <img src="{{product.imgUrl}}" alt="">
        <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><b>{{product.title}}</b></h4>
        <p><b>Price: {{product.price | currency}}</b></p>
        <p>{{product.description}}</p>
        <button class="btn btn-danger" (click)="addToCart(product)">Add to cart</button>
      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="userLoggedIn[0].role=='admin'">
  <app-admin></app-admin>
</ng-container>
