 <header>
    <div class="navbar navbar-dark bg-danger shadow-sm">
      <div class="navbar-brand align-items-center d-flex">
        <span style="font-size: 40px;" class="material-icons">face_3</span>&ngsp;
        <ng-container *ngIf="!userLoggedIn">
          <strong style="font-size: 20px; margin-left: 10px;" routerLink="/main" >SkinCare Shop</strong>
        </ng-container>
        <ng-container *ngIf="userLoggedIn?.role === 'user'">
          <strong style="font-size: 20px; margin-left: 10px;" routerLink="/user" >SkinCare Shop</strong>
        </ng-container>
        <ng-container *ngIf="userLoggedIn?.role === 'admin'">
          <strong style="font-size: 20px; margin-left: 10px;" routerLink="/admin" >SkinCare Shop</strong>
        </ng-container>
      </div>
      <ng-container *ngIf="!userLoggedIn">
        <button class="btn btn-danger" routerLink="login" routerLinkActive="active" id="loginButton">
          <div class="badge bg-gray" style="font-size: 15px;">Log In</div>
        </button>
      </ng-container>
      <ng-container *ngIf="userLoggedIn?.role === 'user'">
        <button class="btn btn-danger" routerLink="cart" style="margin-left: 950px;">
          <mat-icon>shopping_cart</mat-icon>
          <div class="badge bg-gray" style="font-size: 15px;">{{nrOfItems}}</div>
        </button>
        <button class="btn btn-danger" routerLink="main" (click)="logout(userLoggedIn)">
          <b>Logout</b>
        </button>
      </ng-container>
      <ng-container *ngIf="userLoggedIn?.role === 'admin'">
        <button class="btn btn-danger" (click)="addNewProduct()" style="margin-left: 950px">
          <b>Add product</b>
        </button>
        <button class="btn btn-danger" routerLink="main" (click)="logout(userLoggedIn)">
          <b>Logout</b>
        </button>
      </ng-container>
    </div>
  </header>
